{% extends "layout_admin.html" %}

{% block title %}
	Create Your Post here
{% endblock %}

{% block content %}

<div class="container pt">
	<div class="row mt" style="width: 800px;">
		<div class="col-lg-6 col-lg-offset-3 lefted anu" style="	margin-left: 20px; 	width: 750px;">
			<h3><center>Create your Post</center></h3></br>

				<form class="form-group" action="/admin/create_post" method="POST">
					<p>
						{{ form.title(class="form-control", placeholder="Your Title Post") }}
						{% for message in form.title.errors %}
							<i><strong style="color:red">*</strong>{{ message }}</i>
						{% endfor %}
						{% if form.title.error %}
							<i><strong style="color:red">*</strong> {{ form.title.error }}</i>
						{% endif %}
					<br>
						{{ form.author(class="form-control", placeholder="Your Name", style="width:500px") }}
						{%  for message in form.author.errors %}
							<strong style="color:red">*</strong><i>{{ message }}</i>
						{% endfor %}
					<br>
						{{ form.category(class="form-control", placeholder="Your Post Category", style="width:500px") }}
						{%  for message in form.category.errors %}
							<strong style="color:red">*</strong><i>{{ message }}</i>
						{% endfor %}
					<br>
						{{ form.content(class="form-control", placeholder="Content of your Post", style="height:300px") }}
						{%  for message in form.content.errors %}
							<strong style="color:red">*</strong><i>{{ message }}</i>
						{% endfor %}
					</p>
					<input type="submit" value="POST" class="btn btn-lg btn-primary btn-block">
					{{ form.csrf_token }}
				</form>
		</div>
	</div>
</div>

{% endblock %}
