	{% extends "layout.html" %}
	{% block content %}
		<!-- +++++ Projects Section +++++ -->
	
	<!-- +++++ Projects Section +++++ -->
	{% for post in posts %}	
		<div class="container pt">
			<div class="row mt">
				<div class="col-lg-6 col-lg-offset-3 lefted anu" style="margin-left: 20px; 	width: 500px;">
					<img src="/static/{{ post.url }}" style=" width: 470px; margin-top: 30px">
					<hr>
					<p><center>{{ post.label }}</center></p>
				</div>
			</div>
		</div>
	{% endfor %}	
	

	{% endblock %}