	{% extends "layout.html" %}

	{% block content %}
	
	<div class="container pt">
		<div class="row mt">
			<div class="col-lg-6 col-lg-offset-3 lefted anu" style="	margin-left: 20px; 	width: 500px;">
				<h3>{{ blog.title }}</h3>
				<p><strong><i>Author:</i></strong> {{ blog.author }} || <strong><i>Created:</i></strong> {{ blog.created }}</p>
				<hr>
				<p>{{ blog.content }}</p>
				<hr>
				<p>
				<strong><i>Category:</i></strong> {{ blog.category.name_category }}
				</p>
				</hr>
			</div>
		</div>
	</div>
	
	{% endblock %}